<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/uklon</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">sugoi</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.enable_lazy_load_no_trans"/>
        <mapping class="iot.models.Car"/>
        <mapping class="iot.models.Cost"/>
        <mapping class="iot.models.CreditCard"/>
        <mapping class="iot.models.Driver"/>
        <mapping class="iot.models.DriverAddress"/>
        <mapping class="iot.models.Manufacturer"/>
        <mapping class="iot.models.Order"/>
        <mapping class="iot.models.Security"/>
        <mapping class="iot.models.User"/>
    </session-factory>
</hibernate-configuration>